@charset "UTF-8";
@import "cw_layout.css";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
    Author: Sara Smith
    Date:   05/04/2022   
   
   Filename: cw_styles.css

*/


/* Structural Styles */
html{
   background-color: rgb(151,151,151);
}
body{
   background-color: rgb(180,180,223);
   font-family: Verdana, Geneva, sans-serif;
}
body>header{
   background-color: rgb(97,97,211);
}
footer{
   color:white;
   background-color: rgb(101,101,101);
   font-size: 0.8em;
   text-align:center;
   padding: 1px,1px;

}
/* Body Header Styles */

h1 h2{
   font-weight:normal;
}
body> header> h1:nth-child(1){
   color: rgba(255, 255, 255, 0.8);
   font-size: 4vw;
   font-family: Limelight, cursive;
   margin: 0px;
}
 
body> header>h1>span{
   color: rgba(255,255,255,0.4);
}




/* Navigation Styles */

nav > ol> li> a:link {
   text-decoration:none;
}
nav>ul>li > a:link{
   text-decoration:none;
}
nav> ol> li> ol> li> a:link{
   text-decoration: none;
}

nav

/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

