@charset "UTF-8";
@import "cw_layout.css";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
    Author: Sara Smith
    Date:   05/04/2022   
   
   Filename: cw_styles.css

*/


/* Structural Styles */
html{
   background-color: rgb(151,151,151);
}
body{
   background-color: rgb(180,180,223);
   font-family: Verdana, Geneva, sans-serif;
}
body>header{
   background-color: rgb(97,97,211);
}
footer{
   color:white;
   background-color: rgb(101,101,101);
   font-size: 0.8em;
   text-align:center;
   padding: 1px,1px;

}
/* Body Header Styles */

h1 h2{
   font-weight:normal;
}
body> header> h1:nth-child(1){
   color: rgba(255, 255, 255, 0.8);
   font-size: 4vw;
   font-family: Limelight, cursive;
   margin: 0px;
}
 
body> header>h1>span{
   color: rgba(255,255,255,0.4);
}




/* Navigation Styles */

nav > ol> li> a:link {
   text-decoration:none;
}
nav>ul>li > a:link{
   text-decoration:none;
}
nav> ol> li> ol> li> a:link{
   text-decoration: none;
}


#mainLinks{
   padding-top:5px;
   padding-bottom:5px;
}

#mainLinks > ul> li> a:visited{
   color: white;
}
#mainLinks> ul> li> a:link{
   color: white;
}
#mainLinks > ul>li > a:hover{
   color: rgba(255, 255 , 255, 0.5);
   background-color: rgba( 51,51,51, 0.5);
}


/* Outline Styles */



#outline>ol> li> a:link{
   color: rgb(101,101,101);
   font-style: 2em;
   margin: 0px, 0px;

}
#outline>ol>li> a:active{
   color: rgb(97,97,211);
   text-decoration: underline;
}
#outline>ol>li> a:hover{
   color: rgb(97,97,211);
   text-decoration: underline;
}
 #outline>ol>li> a:visited{
 color:  rgb(101,101,101);
}
#outline> ol> li> ol> li> a:link{
   color: rgb(101,101,101);
   font-size: 0.8em
}
#outline>ol>li>ol>li>a:visited{
   color:  rgb(101,101,101);
}
#outline> ol>li>ol>li>a:hover{
   color:rgb(97,97,211);
   text-decoration: underline;
}
#outline>ol>li>ol>li>a:active{
   text-decoration: underline;
   color:rgb(180,180,223);
}
#outline h1{
   text-align: center;
}

#outline>ol>li {
   list-style-type: upper-roman;
}
#outline>ol>li>ol>li{
   list-style-type:upper-alpha;
}

/* Section Styles */
section{
   background-color: rgb(220,220,220);
}

section header h1{
   font-size:2.2em;
   padding-left: 10px;
}


/* Article Styles */
article h2{
   font-size:1.4em;
}


article p::first-letter{
   font-size:2em;
   vertical-align: baseline;
}
/* Aside Styles */

