@charset "UTF-8";
@import "cw_layout.css";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
    Author: Sara Smith
    Date:   05/04/2022   
   
   Filename: cw_styles.css

*/


/* Structural Styles */
html{
   background-color: rgb(151,151,151);
}
body{
   background-color: rgb(180,180,223);
   font-family: Verdana, Geneva, sans-serif;
}


/* Body Header Styles */

h1 h2{
   font-weight:normal;
}


/* Navigation Styles */

nav > ol> li> a:link {
   text-decoration:none;
}
nav>ul>li > a:link{
   text-decoration:none;
}
nav> ol> li> ol> li> a:link{
   text-decoration: none;
}

/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

