@charset "UTF-8";
@import "cw_layout.css";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
    Author: Sara Smith
    Date:   05/04/2022   
   
   Filename: cw_styles.css

*/


/* Structural Styles */




/* Body Header Styles */




/* Navigation Styles */




/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

